<form>
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre:</label>
    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="pasaje.nombrePasajero">
  </div>

  <div class="mb-3">
    <label for="dni" class="form-label">Dni:</label>
    <input type="number" maxlength="8" class="form-control" id="dni" name="dni" [(ngModel)]="pasaje.dni">
  </div>

  <div class="mb-3">
    <label for="dni" class="form-label">Precio:</label>
    <input type="number" maxlength="8" class="form-control" id="precio" name="precio" [(ngModel)]="pasaje.precio" (change)="calcularPrecioConDescuento()">
  </div>

  <div class="mb-3">
    <label for="categoria" class="form-label">Categoria:</label>
    <select id="categoria" name="categoria" class="form-select" aria-label="Default select example" [(ngModel)]="pasaje.categoria" (change)="calcularPrecioConDescuento()">
      <option selected value="">Seleccione categoría</option>
      <option value="m">Menor</option>
      <option value="a">Adulto</option>
      <option value="j">Jubilado</option>
    </select>
  </div>

    <label class="form-label">Precio a pagar: {{calcularPrecioConDescuento()}}</label>
    <br>
    <br>
  <button type="submit" class="btn btn-primary">Registrar</button>
</form>
