<div class="row">
  <div class="col-5">
    <form>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="pasaje.nombrePasajero">
      </div>

      <div class="mb-3">
        <label for="dni" class="form-label">Dni:</label>
        <input type="number" maxlength="8" class="form-control" id="dni" name="dni" [(ngModel)]="pasaje.dni">
      </div>

      <div class="mb-3">
        <label for="dni" class="form-label">Precio:</label>
        <input type="number" maxlength="8" class="form-control" id="precio" name="precio" [(ngModel)]="pasaje.precio"
               (change)="calcularPrecioConDescuento()">
      </div>

      <div class="mb-3">
        <label for="categoria" class="form-label">Categoria:</label>
        <select id="categoria" name="categoria" class="form-select" aria-label="Default select example"
                [(ngModel)]="pasaje.categoria" (change)="calcularPrecioConDescuento()">
          <option selected value="">Seleccione categoría</option>
          <option value="m">Menor</option>
          <option value="a">Adulto</option>
          <option value="j">Jubilado</option>
        </select>
      </div>

      <label class="form-label">Precio a pagar: {{calcularPrecioConDescuento()}}</label>
      <br>
      <br>
      <button type="submit" class="btn btn-primary" (click)="guardarPasaje()">Registrar</button>
    </form>
  </div>
  <div class="col-7">

    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Dni</th>
        <th scope="col">Categoría</th>
        <th scope="col">Fecha Venta</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pasaje of obtenerPasajes()">
        <th scope="row">{{pasaje.id}}</th>
        <td>{{pasaje.nombrePasajero}}</td>
        <td>{{pasaje.dni}}</td>
        <td>{{pasaje.categoria}}</td>
        <td>{{pasaje.fechaVenta | date: 'dd/MM/yyyy'}}  </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<br><br><br>

<div class="row">
  <table class="table">
    <tr>
      <th scope="col">Adultos</th>
      <th scope="col">Menores</th>
      <th scope="col">Jubilados</th>
      <th scope="col">Total</th>
    </tr>
    <tr >
      <td>{{resumenVentas.ventasAdultos}}</td>
      <td>{{resumenVentas.ventasMenores}}</td>
      <td>{{resumenVentas.ventasJubilados}}</td>
      <td>{{resumenVentas.ventasTotales}}</td>
    </tr>
  </table>
</div>
